<% if @genres.present? %>
  <h4>Genres</h4>
  <ul>
    <% @genres.each do |g| %>
      <li><%= g.name %></li>
    <% end %>
  </ul>
<% end %>
<% if current_user %>
  <div class="faves">
    <%= button_to "â™¥ï¸ Fave", favorites_path(@movie) %>
  </div>
<% end %>
